body{
  background-image: url(../img/images.jpg);
}

#admin-box{background-color: greenyellow;
  color: red;
  width: 50%;
  margin: 10% auto;
  padding: 20px;
  text-align: center;

}

input,label{ display: block;
}
 input:hover{background-color: blue;}
#admin-box h1 { font: size 50px;
  }
#admin-box h1::after{
  content: " ";
  display: block;
  border-top: 2px solid blue;
  margin: 20px 0px auto;
}
from{

}
input{width: 100%;
  font-size: 15px;
  font-weight: bolder;
  text-transform: lowercase;
  }
  label{font-size: 20px;
    text-transform: uppercase;
    margin: 10px auto;
  }
  input[type="submit"]{
    background-color: blue;
    color: red;
    margin:  20px auto;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
border: 1px solid blue;
transition: 0.4;
  }
  input[type="submit"]:hover{background-color: transparent;
  font-weight: bold; color: red;}
  input::placeholder {color: red;}

  
.pg{font-size: 20px;
  margin: 10PX 0PX;
}
.pg a:hover{ text-decoration: none;
color: white;
text-transform: capitalize;
background-color: black;
padding: 2PX;
}